/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// CSS Reset
@import "./base/colors";
@import './base/fonts';
@import './base/css-reset';

// palettes
@import './base/lol-darkTeal-palette';
@import './base/lol-gold-palette';
@import './base/lol-teal-palette';

// other styles
@import './main';
@import './drawer';

body {
  font-family: $font-stack;

  .title {
    border-bottom: 1px solid $gold-3;
    color: $gold-3;
    font-size: 2.5em;
    left: .55em;
    padding-bottom: .3em;
    position: absolute;
    text-align: center;
    top: .75em;
    z-index: 100;
  }
}

.github-ribbon {
  position: fixed;
  right: 0;
  top: 0;
}
