.sidebar-drawer {
  background-color: $sidebar-bg;
  border-right: 2px solid $gold-3;
  box-sizing: border-box;
  color: $gold-3;
  display: flex;
  height: 100%;
  position: fixed;
  width: 20em;

  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 6em;
    width: 88%;

    .player-info-form,
    .social,
    .split-info-form {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .player-info-form,
    .split-info-form {
      background-color: #444;
      border-radius: 4px;
      box-sizing: border-box;
      color: $white;
      font-size: 1em;
      padding: .3em;
      width: 100%;

      select,
      div {
        background-color: $gold-5;
        color: $teal-2;
        font-family: $font-stack;
        padding: .5em 0;
      }

      select {
        cursor: pointer;
        height: 2.2em;
        outline: none;
        text-transform: uppercase;
        width: 96.5%;
      }

      div {
        border: 1px solid #999;
        border-radius: 3px;
        height: 1.2em;
        text-align: center;
      }

      div,
      h4,
      select {
        font-size: 1.2em;
        margin: .5em .2em;
      }

      .stage-wins-field {
        margin-bottom: 1em;
      }
    }

    .social {
      display: flex;
      justify-content: space-around;

      .lnkd,
      .git,
      .bhnc,
      .drbl {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 32px;
        text-align: center;
        width: 32px;
        background-position: center bottom;
        background-repeat: no-repeat;
      }

      .lnkd {
        background-image: url('../img/social_badges/linkedin.png');
        background-size: 85%;

        &:hover {
          background-image: url('../img/social_badges/linkedin-hover.png');
        }
      }

      .git {
        background-image: url('../img/social_badges/github.png');
        background-size: 85%;

        &:hover {
          background-image: url('../img/social_badges/github-hover.png');
        }
      }

      .bhnc {
        background-image: url('../img/social_badges/behance.png');
        background-size: 100%;

        &:hover {
          background-image: url('../img/social_badges/behance-hover.png');
        }
      }

      .drbl {
        background-image: url('../img/social_badges/dribbble.png');
        background-size: 80%;

        &:hover {
          background-image: url('../img/social_badges/dribbble-hover.png');
        }
      }
    }
  }

  .drawer-tab {
    align-items: center;
    background-color: $sidebar-bg;
    border: 2px solid $gold-3;
    border-left: .5px solid $sidebar-bg;
    cursor: pointer;
    // display: flex;
    display: none;
    height: 50px;
    left: 16.85em;
    padding: 0 0 0 .3em;
    position: absolute;
    top: 7em;
    width: 20px;

    .fa-caret-left,
    .fa-caret-right {
      font-size: 2em;
    }

    .fa-caret-left {
      display: block;
    }

    .fa-caret-right {
      display: none;
    }
  }
}

@media screen and ( max-width: 1100px ) {
  .sidebar-drawer {
    display: none;
  }
}
