#main {
  align-items: center;
  background-color: $main-bg;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .online-svg-container,
  .stage-svg-container {
    background-color: #333;
    border-right: 2px solid rgba(103,196,204,.5);
    border-top: 2px solid rgba(103,196,204,.5);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;

    p {
      border-bottom: 1px solid $teal-3;
      color: $teal-2;
      font-family: $font-stack;
      font-size: 32px;
      font-weight: bolder;
      margin: 0 auto;
      padding: 1em 0 .5em;
      text-align: center;
      width: 60%;
    }
  }

  .online-svg-container {
    border-right-width: 1px;
    margin-right: .5em;
  }

  .stage-svg-container {
    border-left-width: 1px;
    margin-left: .5em;
  }

  .online-wins-svg,
  .stage-wins-svg {
    border-bottom: 1px dashed $gold-4;
    border-left: 1px dashed $gold-4;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    overflow: hidden;
    width: 92%;

    text {
      fill: $black;
      font-family: sans-serif;
      font-size: 1.3em;
    }
  }
}

@media screen and ( max-width: 1100px ) {
  #main {
    flex-direction: column;

    .online-svg-container,
    .stage-svg-container {
      height: 35%;
      margin: 0 auto;
      width: 80%;
    }

    .online-svg-container { margin-bottom: 2em; }
    .stage-svg-container { margin-top: 2em; }
  }
}
