#main {
  align-items: center;
  background-color: $main-bg;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .ranked-svg-container,
  .team-svg-container {
    background-color: #333;
    border: 2px solid $teal-2;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;

    p {
      border-bottom: 1px solid $teal-3;
      color: $teal-2;
      font-family: $font-stack;
      font-size: 24px;
      font-weight: bolder;
      margin: 0 auto;
      padding: 1em 0;
      text-align: center;
      width: 60%;
    }
  }

  .ranked-svg-container {
    border-right-width: 1px;
  }

  .team-svg-container {
    border-left-width: 1px;
  }

  .ranked-wins-svg,
  .team-wins-svg {
    outline: 1px dashed yellow;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 92%;
  }
}
